
.main-head img{  width:50%;

    height: 50%; 

}



.bg-inverse{

    background-color: #343434;

}


.flex-item{

    width: 30%;

}


.flex-item:hover{

    opacity: 0.8;

    cursor: pointer;

}


.i{

    font-size: 2em;

}


.social{

    display: table;

}


.social i{

    width: 30px;

    height: 30px;

    background-color: #fff;

 
   text-align: center;

    display: table-cell;

    vertical-align: middle;

  
  border-radius: 5px;

    cursor: pointer;

}

.card{

    border-radius: 0;

}


.img-box{

    overflow: hidden;

}


#work-section a img{

    width: 100%;

 
   height: 300px;

    transition: transform .5s ease;

}


#work-section a img:hover{

    transform: scale(1.5);

}


.input-group-lg>
.custom-select, 
.input-group-lg>
.form-control,
 .input-group-lg>
.input-group-append>.
btn, .input-group-lg>
.input-group-append>
.input-group-text,
 .input-group-lg>
.input-group-prepend>
.btn, .input-group-lg>
.input-group-prepend>
.input-group-text 
{

    padding: 35px 1rem;

}



